USE [LatestQMGDB]
GO
/****** Object:  Table [dbo].[ApiAuditLogs]    Script Date: 2/19/2026 10:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiAuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControllerName] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
	[HttpMethod] [nvarchar](10) NULL,
	[RequestPath] [nvarchar](200) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[DoctorId] [int] NULL,
	[AppointmentDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[Disease] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](100) NOT NULL,
	[CountryCode] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[City] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [varchar](100) NOT NULL,
	[StateId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Specialization] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[IsAvailable] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Department] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeImages]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[UploadedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Department] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
	[Address] [varchar](200) NULL,
	[JoiningDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mandals]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mandals](
	[MandalId] [int] IDENTITY(1,1) NOT NULL,
	[MandalName] [varchar](100) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MandalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otps]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otps](
	[OtpId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[OtpCode] [varchar](10) NULL,
	[ExpiryTime] [datetime] NULL,
	[IsUsed] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OtpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleGItTest]    Script Date: 2/19/2026 10:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleGItTest](
	[Git] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoftwareCourses]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareCourses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](150) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[Fees] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](100) NOT NULL,
	[StateCode] [varchar](10) NULL,
	[CountryId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tokens]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[JwtToken] [varchar](max) NULL,
	[RoleName] [varchar](20) NULL,
	[RoleNumber] [int] NULL,
	[ExpiryTime] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TreatmentId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NULL,
	[UserId] [int] NULL,
	[DoctorId] [int] NULL,
	[Disease] [varchar](100) NULL,
	[Diagnosis] [varchar](200) NULL,
	[Medicines] [varchar](200) NULL,
	[TreatmentNotes] [varchar](300) NULL,
	[Status] [varchar](20) NULL,
	[StartedDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Email] [varchar](100) NULL,
	[RoleName] [varchar](20) NULL,
	[RoleNumber] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[FailedAttempts] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Villages]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Villages](
	[VillageId] [int] IDENTITY(1,1) NOT NULL,
	[VillageName] [varchar](100) NOT NULL,
	[MandalId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VillageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Districts] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeImages] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Mandals] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SoftwareCourses] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[States] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tokens] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Villages] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Mandals]  WITH CHECK ADD FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Villages]  WITH CHECK ADD FOREIGN KEY([MandalId])
REFERENCES [dbo].[Mandals] ([MandalId])
GO
/****** Object:  StoredProcedure [dbo].[CreateCountry]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[CreateCountry]
    @CountryName NVARCHAR(100),   -- Name of the country
    @CountryCode NVARCHAR(10)     -- Country code, e.g., IN, US
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Insert new country
        INSERT INTO Countries (CountryName, CountryCode, CreatedDate)
        VALUES (@CountryName, @CountryCode, GETDATE());

        -- Return only one message on success
        SELECT 'Country inserted successfully' AS Message;
    END TRY
    BEGIN CATCH
        -- Return only one message on error
        SELECT 'Error: ' + ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Delete_Country]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Delete_Country]
(
    @CountryID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Delete Villages
    DELETE V
    FROM Villages V
    INNER JOIN Mandals M ON V.MandalId = M.MandalId
    INNER JOIN Districts D ON M.DistrictId = D.DistrictId
    INNER JOIN States S ON D.StateId = S.StateId
    WHERE S.CountryId = @CountryID;


    -- Step 2: Delete Mandals
    DELETE M
    FROM Mandals M
    INNER JOIN Districts D ON M.DistrictId = D.DistrictId
    INNER JOIN States S ON D.StateId = S.StateId
    WHERE S.CountryId = @CountryID;


    -- Step 3: Delete Districts
    DELETE D
    FROM Districts D
    INNER JOIN States S ON D.StateId = S.StateId
    WHERE S.CountryId = @CountryID;


    -- Step 4: Delete States
    DELETE FROM States
    WHERE CountryId = @CountryID;


    -- Step 5: Delete Country
    DELETE FROM Countries
    WHERE CountryId = @CountryID;
	select  'Country has been deleted successfully.' as Message

END
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteEmployee]
(
    @EmployeeID INT
)
AS
BEGIN
    -- Invalid ID check
    IF (@EmployeeID <= 0)
    BEGIN
        SELECT 'Invalid EmployeeID' AS Message;
		print 'Invalid Employee' 
        RETURN;
    END
    -- Check if record exists
    IF EXISTS (SELECT 1 FROM Employee WHERE EmployeeId = @EmployeeID)
    BEGIN
        DELETE FROM Employee WHERE EmployeeId = @EmployeeID;
        SELECT 'Employee Deleted Successfully' AS Message;
    END
    ELSE
    BEGIN
        SELECT 'Employee Not Found' AS Message;
		print 'employee not there int he tabe'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Countries]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Get_Countries]
AS
BEGIN
    SELECT 
        CountryId,
        CountryName,
        CountryCode,
        CreatedDate
    FROM Countries
    ORDER BY CountryId asc
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Districts_ByStateId]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_Districts_ByStateId]
(
    @StateId INT
)
AS
BEGIN
    SELECT DistrictId, DistrictName, StateId
    FROM Districts
    WHERE StateId = @StateId
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Mandals_ByDistrictId]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Mandals_ByDistrictId]
(
    @DistrictId INT
)
AS
BEGIN
    SELECT MandalId, MandalName, DistrictId
    FROM Mandals
    WHERE DistrictId = @DistrictId
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Software_Courses]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Get_Software_Courses]
(
    @CourseID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    --  Check if record exists
    IF EXISTS (SELECT 1 FROM SoftwareCourses WHERE CourseId = @CourseID)
    BEGIN
        -- Return Course Data
        SELECT *
        FROM SoftwareCourses
        WHERE CourseId = @CourseID
    END
    ELSE
    BEGIN
        -- Return Not Found Message
      SELECT 
            CourseId,
            CourseName,
            Duration,
            Fees,
            Description,
            CreatedDate,
            0 AS Status,
            'Course Not Found' AS Message
        FROM SoftwareCourses
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Get_States_ByCountryId]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_States_ByCountryId]
(
    @CountryId INT
)
AS
BEGIN
    SELECT StateId, StateName, CountryId
    FROM States
    WHERE CountryId = @CountryId
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Villages_ByMandalId]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Villages_ByMandalId]
(
    @MandalId INT
)
AS
BEGIN
    SELECT VillageId, VillageName, MandalId
    FROM Villages
    WHERE MandalId = @MandalId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveSoftwareCourse]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveSoftwareCourse]
    @CourseId INT,                 -- 🔹 Needed to decide Insert or Update
    @CourseName NVARCHAR(150),
    @Duration NVARCHAR(50),
    @Fees DECIMAL(10,2),
    @Description NVARCHAR(300)
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ If CourseId = 0 → INSERT
    IF (@CourseId = 0)
    BEGIN
        INSERT INTO SoftwareCourses
        (
            CourseName,
            Duration,
            Fees,
            Description
        )
        VALUES
        (
            @CourseName,
            @Duration,
            @Fees,
            @Description
        )

        SELECT 'Course Inserted Successfully' AS Message;
    END

    -- ✅ Else → UPDATE
    ELSE
    BEGIN
        UPDATE SoftwareCourses
        SET
            CourseName  = @CourseName,
            Duration    = @Duration,
            Fees        = @Fees,
            Description = @Description
        WHERE CourseId = @CourseId

        SELECT 'Course Updated Successfully' AS Message;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserCredentials]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUserCredentials]
(
    @UserId   INT,
    @UserName VARCHAR(50),
    @Password VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET 
        UserName = @UserName,
        [Password] = @Password
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserCredential]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateUserCredential]
(
    @UserId   INT,
    @UserName VARCHAR(50),
    @Password VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserLogin   SET      UserName = @UserName,     [Password] = @Password   WHERE UserId = @UserId;
	END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserCredentials]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateUserCredentials]
(
    @UserId   INT,
    @UserName VARCHAR(50),
    @Password VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM UserLogin WHERE UserId = @UserId)
    BEGIN
        UPDATE UserLogin
        SET 
            UserName = @UserName,
            [Password] = @Password
        WHERE UserId = @UserId;

        SELECT 
            CAST(1 AS BIT) AS Status,
            'User credentials updated successfully' AS Message;
    END
    ELSE
    BEGIN
        SELECT 
            CAST(0 AS BIT) AS Status,
            'User not found' AS Message;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[UserLoginRegistraion]    Script Date: 2/19/2026 10:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UserLoginRegistraion]
(
    @UserName VARCHAR(50),
    @Password VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 
        FROM UserLogin
        WHERE UserName = @UserName
          AND [Password] = @Password
    )
    BEGIN
        SELECT 
            UserId,
            UserName,
            1 AS Status,                        -- 1 = login successful
            'Login Successful' AS Message
        FROM UserLogin
        WHERE UserName = @UserName
          AND [Password] = @Password;
    END
    ELSE
    BEGIN
        SELECT 
            NULL AS UserId,
            NULL AS UserName,
            0 AS Status,                        -- 0 = login failed
            'Invalid Username or Password' AS Message;
    END
END;
GO
